@import url('https://fonts.googleapis.com/css?family=Helvetica');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica';
    font-size: 28px;
    color: #222;
}




.inscription_membre{
    width: 100%;
    border: 1px solid #f1c40f;
    margin-top: 5%;
}

.inscription_membre h3{
    background: #f1c40f;
    padding: 10px;
    color: #000;
    text-align: center;
}

.inscription_membre div {
    text-align: center;
}
form {
    width: 98%;
}
.list_button {
    background: yellow;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

.list_membre{
    width: 100%;
    margin: auto;
    margin-top: 2%;
}

.list_membre table{
    width: 100%;
    border: 1px solid #f1c40f;
}

.list_membre h3{
    background: #f1c40f;
    padding: 10px;
    color: #000;
    text-align: center;
}

.find{
    width: 800px;
    margin: auto;
    margin-top: 50px;
}
